
@{
    ViewBag.Title = "AverageValues";
}

<h2>AverageValues</h2>
<p>Average anger is: @ViewBag.averageanger </p>
<p>Average contempt is : @ViewBag.averagecontempt</p>
<p>Average disgust is : @ViewBag.averagedisgust </p>
<p>Average fear is : @ViewBag.averagefear </p>
<p>Average happiness is:@ViewBag.averagehappiness </p>
<p>Average neutral is : @ViewBag.averageneutral </p>
<p>Average sadness is : @ViewBag.averagesadness </p>
<p>Average surprise is : @ViewBag.averagesurprise </p>
